<div>
    <div>
    <img src="/images/HangmanLogo.jpeg" alt="Hangman Image"> 
    </div>
    <div>
        <form action = '/' method = POST>
        <input type = submit value ="Play Game">
        </form>
    </div>
</div>